.chat__main {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* max-width: var(--maxWidth); */
}
.chat__chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 60px;
  margin-bottom: 39px;
  padding-top: 20px;
  padding-bottom: 20px;
}
