.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  z-index: 5;
  width: 100%;
  max-width: var(--maxWidth);
  background-color: transparent;
  padding: 0;
  margin: 0;
}
.footer__form {
  display: flex;
  max-width: var(--maxWidth);
  width: 100%;
  background-color: var(--userMessageColor);
  margin: 0;
  padding: 0;
  border-radius: 10px;
}
.footer__input {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: var(--userMessageColor);
  color: #fff;
  min-height: 25px;
  height: auto;
  max-height: 50vh;
  width: 100%;
  resize: none;
  overflow-y: auto;
  padding: 10px;
  padding-bottom: 8px;
  margin-right: 0;
  font: inherit;
  text-align: left;
}

.footer__input:focus {
  outline-color: var(--userMessageColor);
  outline-offset: -2px;
}
.footer__input:empty::before {
  content: attr(placeholder);
  color: rgba(255, 255, 255, 0.7);
}
.footer__input:empty:focus:before {
  content: "";
}
.footer__sendBtn {
  display: flex;
  align-items: center;
  margin-top: auto;
  cursor: pointer;
  border: 0;
  padding: 5px 15px;
  min-height: 43px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.footer__sendBtn:not(:disabled) {
  background-color: hsl(210, 4%, 15%);
  color: #fff;
}
.footer__sendBtn__text {
  display: block;
  padding-right: 10px;
}
.footer__sendBtn__icon {
  display: block;
}
