.header__header {
  max-width: var(--maxWidth);
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center !important;
  /* position: fixed; */
  /* top: 0; */
  background-color: var(--userMessageColor);
  color: #ffffffef !important;
  border-radius: 1.3em;
  z-index: 4;
  height: var(--headerHeight) !important;
}
.header__welcome {
  display: flex;
}

.header__signout__icon {
  height: min-content !important;
  padding: 0px !important;
  color: #fff !important;
}
.header__signout__text {
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  transition: max-width 250ms ease-in, opacity 200ms ease-in;
}
.header__signout:hover .header__signout__text {
  max-width: 250px;
  opacity: 1;
}
.header__signout {
  max-height: 40px;
  align-items: center;
  margin-left: auto !important;
  margin-right: 10px !important;
  display: flex;
  /* color: var(--userMessageColor) !important; */
  color: #fff !important;

  text-decoration-line: none !important;
  background: #272727 !important;
  border-radius: 1.35em !important;
  padding: 8px !important;
  font-weight: 450 !important;
}
