.loader {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 10;
  background-color: var(--backgroundColor);
}
.loader__loading {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader__loadingtext {
  color: #fff;
  font-size: 110%;
}
.dot-typing {
  display: block;
  position: relative;
  margin-top: -0.8ch;
  margin-left: 8.8ch;
  left: -9999px;
  width: 4px;
  height: 4px;
  border-radius: 5px;
  box-shadow: 9990px 0 0 0 #efefef, 9999px 0 0 0 #efefef, 10008px 0 0 0 #efefef;
  animation: dotTyping 1.2s infinite ease-in-out;
}

@keyframes dotTyping {
  0% {
    box-shadow: 9990px 0 0 0 #efefef, 9999px 0 0 0 #efefef,
      10008px 0 0 0 #efefef;
  }
  16.667% {
    box-shadow: 9990px -0.7ch 0 0 #efefef, 9999px 0 0 0 #efefef,
      10008px 0 0 0 #efefef;
  }
  /* 33.333% {
    box-shadow: 9990px 0 0 0 #efefef, 9999px 0 0 0 #efefef,
      10008px 0 0 0 #efefef;
  } */
  50%,
  54% {
    box-shadow: 9990px 0 0 0 #efefef, 9999px -0.7ch 0 0 #efefef,
      10008px 0 0 0 #efefef;
  }
  /* 66.667% {
    box-shadow: 9990px 0 0 0 #efefef, 9999px 0 0 0 #efefef,
      10008px 0 0 0 #efefef;
  } */
  83.333% {
    box-shadow: 9990px 0 0 0 #efefef, 9999px 0 0 0 #efefef,
      10008px -0.7ch 0 0 #efefef;
  }
  100% {
    box-shadow: 9990px 0 0 0 #efefef, 9999px 0 0 0 #efefef,
      10008px 0 0 0 #efefef;
  }
}
