.message {
  display: flex;
  min-width: calc(10% + 100px);
  max-width: calc(100vw - (20vw + 8px));
  width: fit-content;
  /* background-color: #fc5664; */
  text-align: left;
  margin-right: auto;
  margin-left: calc(4vw);
  margin-bottom: 12px;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 40px 4px #fc56644d;
  padding: 10px;
}
.message__own {
  margin-left: auto;
  margin-right: calc(4vw);
  background-color: #e053534d;
  box-shadow: 0px 0px 50px 2px #fc86944d;
}

.message__text {
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 4px 2px;
  font-size: calc(60% + 0.2em);
  line-height: 1.45em;
  font-weight: 300;
  color: #f1f1f2;
  letter-spacing: 0px;
  font-family: var(--fontFamily);
}
.message__userText {
  color: #f1f1f2;
}
.message__name {
  font-size: 68%;
  font-weight: 300;
  color: #eededecc;
  text-align: left;
}
.message__text__extra {
  font-weight: 300;
  font-size: 60%;
  color: #ddddddef;
  padding-left: 2px;
  text-align: left;
}

.message__card {
  border-radius: 8px;
  /* width: fit-content; */
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  position: relative;
}
.message__userCard {
  background-color: var(--userMessageColor);
}

.message__guestCard {
  background-color: var(--guestMessageColor);
}

.message__message {
  display: flex;
  /* flex-direction: column; */
}
.message__timestamp {
  display: block;
  /* font-family: "Courier New", Courier, monospace; */
  width: 100%;
  color: #ddddddcf;
  text-align: right;
  font-size: 0.7rem;
  font-weight: 250;
  line-height: 90%;
  letter-spacing: -0.02em;
}

.row,
.row * {
  display: block;
  width: 100%;
}
