.message {
  padding: 5px;
  margin: 2px calc(1vw + 15px);
  width: fit-content;
  height: fit-content;
  max-width: 80%;
  text-align: left;
}
.message:first-child {
  padding-top: 135px;
}
.message:last-child {
  /* padding-bottom: 60px; */
}
.message__user {
  display: flex !important;
  margin-left: auto;
  text-align: left !important;
}
.message__user .MuiCardContent-root {
  margin: 0.5px !important;
}
.MuiCardContent-root {
  padding: 5px !important;
}
.message__text {
  white-space: pre-wrap;
  padding: 2px !important;
  font-size: 16px !important;
  line-height: 1.45em !important ;
  font-weight: 400 !important;
  color: #fff !important;
}
.message__userText {
  color: #fff !important;
}
.message__username {
  margin: 0px 1px;
  padding: 1px 3px;
  font-size: 12px;
  font-weight: 500;
  color: #ededed;
}
.message__userCard {
  border-radius: 1.3em !important;
  background-color: var(--userMessageColor) !important;
}

.message__guestCard {
  border-radius: 1.3em !important;
  background-color: var(--guestMessageColor) !important;
}
.message__delete,
.message__edit {
  width: 1.45em !important;
  height: 1.45em !important;
  margin-left: 2px !important;
  margin-right: 2px !important;
  opacity: 0;
  display: none;
  transition: all 150ms linear;
}
.message__user:hover > .message__delete,
.message__user:hover > .message__edit {
  opacity: 0.9;
  display: inline-flex;
  backdrop-filter: brightness(0.95);
}
.message__iconButton {
  flex: 0 !important;
  margin-right: 20px !important;
}
