.message {
  padding: 5px;
  margin: 2px calc(1vw + 15px);
  width: fit-content;
  height: fit-content;
  max-width: 80%;
  text-align: left;
}
.message__form {
  height: fit-content;
  text-align: left;
}
/* .message__formcontrol {
  padding: 0px !important;
  margin: 0px !important;
} */
.message__form .message__input {
  border-radius: 1.3em !important;
  background-color: #fc5664 !important;
}
.message__form .message__input .MuiInputBase-root {
  color: #fff !important;
}
.message__form .message__sendIconButton {
  border-radius: 50%;
  background-color: var(--guestMessageColor) !important;
  transition: all linear 50ms;
  transform: scale(1.2);
}
.message__form .MuiIconButton-root.Mui-disabled {
  opacity: 0;
  transform: scale(0);
}
.message__input div {
  padding: 0px 2px !important;
}
.message__input div textarea {
  padding: 8px 5px !important;
  font-size: 14px !important;
  line-height: 18px !important;
}
.message__user {
  display: flex !important;
  margin-left: auto;
  text-align: left !important;
}
.message__user .MuiCardContent-root {
  margin: 0.5px !important;
}
.MuiCardContent-root {
  padding: 5px !important;
}
.message__text {
  white-space: pre-wrap;
  padding: 2px !important;
  font-size: 15px !important;
  line-height: 1.45em !important ;
  font-weight: 400 !important;
  color: #fff !important;
}
.message__userText {
  color: #fff !important;
}
.message__username {
  margin: 0px 1px;
  padding: 1px 3px;
  font-size: 12px;
  font-weight: 500;
  color: #ededed;
}
.message__userCard {
  border-radius: 1.3em !important;
  background-color: var(--userMessageColor) !important;
}

.message__guestCard {
  border-radius: 1.3em !important;
  background-color: var(--guestMessageColor) !important;
}
.message__delete,
.message__edit {
  width: 1.45em !important;
  height: 1.45em !important;
  margin-left: 2px !important;
  margin-right: 2px !important;
  opacity: 0;
  display: none;
  transition: all 150ms linear;
}
.message__user:hover > .message__delete,
.message__user:hover > .message__edit {
  opacity: 0.9;
  display: inline-flex;
  backdrop-filter: brightness(0.95);
}
.message__iconButton {
  flex: 0 !important;
  margin-right: 20px !important;
}
