:root {
  --userMessageColor: #f9c784;
  --backgroundColor: #0d2149;
  --guestMessageColor: #fdfdff;
}
body {
  /* background: url("https://cdn.wallpapersafari.com/60/70/AB9phC.jpg");
  background: url("https://cdn.wallpapersafari.com/80/71/MJzGIn.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  /* height: 100%; */
  /* background-color: #bc2429 !important; */
  /* background-color: #002366 !important; */
  background-color: var(--backgroundColor) !important;
}
.App {
  text-align: center;
  /* overflow: hidden; */
  max-height: 100vh;
}
.MuiLink-underlineHover {
  cursor: pointer;
}
