/* .chat__main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1fr, 3);
  gap: 0px 0px;
  grid-template-areas:
    "."
    "."
    ".";
} */
.chat__welcome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center !important;
  width: 100%;
  position: absolute;
  background-color: var(--userMessageColor);
  color: #000 !important;
}
.chat__form {
  /* display: none; */
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1;
  background-color: var(--userMessageColor);
}
.chat__chat {
  padding-top: 90px;
  padding-bottom: 90px;
  /* max-height: 90vh; */
  /* min-height: 130px; */
  /* height: auto !important; */
  /* overflow-y: scroll; */
}
.chat__formControl {
  display: flex !important;
  flex-direction: row !important;
}
.chat__input {
  color: #000000 !important;
  flex: 1 !important;
  margin: 15px !important;
}
.chat__iconButton {
  flex: 0 !important;
  margin-right: 20px !important;
}
.chat__signout {
  margin-left: auto !important;
  margin-right: 10px !important;
  color: #ffffff !important;
  text-decoration-line: none !important;
  background: var(--backgroundColor) !important;
  border-radius: 1.35em !important;
  padding: 8px !important;
  font-weight: 450 !important;
}
/* .chat__FlipMove {
  margin-bottom: 80px;
} */
