.message {
  padding: 5px;
  margin: 5px calc(1vw + 15px);
  width: fit-content;
  height: min-content;
  max-width: 80%;
  text-align: left;
}
.message:last-child {
  margin-bottom: 1vh;
}
.message__user {
  display: flex !important;
  /* justify-content: flex-end; */
  margin-left: auto;
  text-align: left !important;
}
.MuiCardContent-root {
  padding: 10px !important;
}
.message__text {
  font-size: 18px !important;
  line-height: 1.3em !important ;
  font-weight: 400 !important;
  color: #000000 !important;
}
.message__userText {
  color: #000000 !important;
}
.message__username {
  margin: 0px 1px;
  padding: 3px;
  font-size: 14px;
  font-weight: 500;
  color: #c6c5b9;
}
.message__userCard {
  border-radius: 1.2em !important;
  background-color: #ffb400 !important;
}

.message__guestCard {
  border-radius: 1.3em !important;
  background-color: #fdfdff !important;
}
.message__delete,
.message__edit {
  width: min-content;
  height: min-content;
  opacity: 0;
  display: none;
  transition: all 150ms linear;
}
.message__user:hover > .message__delete,
.message__user:hover > .message__edit {
  opacity: 0.9;
  display: block;
}
